<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">id</ion-label>
          <ion-input formControlName="id"></ion-input>
        </ion-item>
         <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
         <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">usuario</ion-label>
          <ion-input formControlName="usuario" type="password" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">verificacion correo</ion-label>
          <ion-input formControlName="verificacion" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
