<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cita con el Medico </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      
      <ion-button  size="default"   shape="round" expand= "block"  [routerLink]="['/cita']">agregar cita</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
